body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'FootlightL';
    src: url(./FootlightMTProLight.otf);
  }

@font-face {
    font-family: 'ltc-tc';
    src: url(./ltc-twentieth-century-w00.ttf);
    
}

@font-face {
    font-family: 'Futura-Book';
    src: url(./Futura-SC-T-OT-Book_19037.ttf);
}

@font-face {
    font-family: 'Futura-Bold';
    src: url(./Futura-Std-Bold_19042.ttf);
}

@font-face {
    font-family: 'Muli-Regular';
    src: url(./Muli-Regular.ttf);
}

@font-face {
    font-family: 'Muli-Light';
    src: url(./Muli-Light.ttf);
}

.header{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    background:none;
}

.header-cont{

    position: relative;
    max-width: 95%;
    margin:auto ;
    padding: 0 16px;
}

.cont-inner{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.cont-inner-h1{

    font-size: 2.5em;
    display: block;
    padding: 4px;
    margin:-4px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-left: 1em;
    cursor: pointer;
    font-family: 'FootlightL',sans-serif;
    letter-spacing: 1px;
}


.cont-navbar-ul{

    display: flex;
    align-items: center;
    margin:0;
    padding: 0;

}

.cont-navbar-li{

    list-style: none;
    font-size: 1.2em;
   color: white;
    
    padding: 1em;
    padding-bottom: 0;
    cursor: pointer;
    font-family: 'Futura-Book';
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.cont-navbar-li:hover{
    
    transform: scale(1.05);
    border-bottom: 3px solid white;
}

.cont-inner-h2{

    background-color: #7d9cd3;
    margin-right: 5%;
    font-size: 1.3em;
    cursor: pointer;
    padding: 8px 14px;
    vertical-align:super;
    border-radius: 20px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Futura-Bold';

}

.first{
    height: 85vh;
    position: absolute;
    width: 100%;
    z-index: -1;
    
    background: linear-gradient(100deg, #f640fc , #4a8de6);
    transform: skewY(-13deg);
    transform-origin: 0 100%;
    
}

.firstover{

    width: 90%;
    margin-left: 10%;
    height: 80vh;
    padding-top: 20vh;
}

.firstover-cont{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.try-free{
    display: inline-block;
    font-family: 'Futura-Bold';
    font-size: 1.5em;
   background : rgba(0, 0, 0, 0.1);
    color:white;
    padding: 14px 50px;
    letter-spacing: 2px;
    border-radius: 25px;
    cursor: pointer;
    vertical-align: super;
}

.slogan{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.slogan-p{
    margin:0;
    font-family: 'FootlightL';
    text-transform: capitalize;
    font-size: 4.5em;
    letter-spacing: 2px;
    color: white;
}

.form-span{
    margin-top: 2rem;
    background: rgba(122, 122, 122, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 0.5em 1.5em;
    padding-right: 0.5em;
    vertical-align: middle;
    margin-bottom: 2rem;
}

.fa-at{
    color: white;
    font-size: 2em;
        vertical-align: sub;
    padding-right: 1em;
   
}
::placeholder{
    color: white;
    
}
.mail-inp{
    color: white;
    padding: 1em 0em;
    background: transparent;
    border: none;
    font-family: 'Futura-bold';
    font-size: 1.2em;
    letter-spacing: 1px;
    outline: none;
   
    padding-right: 3em;
}

.mail-btn{
    font-family: 'Futura-Bold';
    font-size: 1.2em;
    padding: 20px 16px;
    background: rgb(57, 57, 255);
    color:white;
    border-radius: 10px;
    border: none;
    float:right;
    cursor: pointer;
}

.plans-p{

    font-family: 'Muli-Regular';
    color: rgb(107, 107, 107);
    line-height: 1.6em;
    font-size: 1.5em;
    letter-spacing: 2px;
}