@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Source+Serif+Pro:wght@600&display=swap');




body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
   
}

@font-face {
    font-family: 'FootlightL';
    src: url(./assets/fonts/FootlightMTProLight.otf);
  }

@font-face {
    font-family: 'Carisma-R';
    src: url(./assets/fonts/CarismaClassic-Regular.ttf);
         
}


@font-face {
    font-family: 'Carisma-M';
    src: url(./assets/fonts/CarismaClassic-500Medium.ttf);
}

@font-face {
    font-family: 'Muli-SB';
    src: url(./assets/fonts/Muli-SemiBold.ttf);
}

@font-face {
    font-family: 'Muli-B';
    src: url(./assets/fonts/Muli-Bold.ttf);
}


@font-face {
    font-family: 'Futura-Book';
    src: url(./assets/fonts/Futura-SC-T-OT-Book_19037.ttf);
}

@font-face {
    font-family: 'Futura-Bold';
    src: url(./assets/fonts/Futura-Std-Bold_19042.ttf);
}

@font-face {
    font-family: 'Muli-Regular';
    src: url(./assets/fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: 'Muli-Light';
    src: url(./assets/fonts/Muli-Light.ttf);
}


@keyframes Slide_R{
	0%{
		transform: translateX(130px);
		}

	100%{
		transform:translateX(0);

	}
}


.header{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    background:none;
    min-width: 75rem;
}

.header-cont{

    position: relative;
    max-width: 95%;
    margin:auto ;
    padding: 0 16px;
}

.cont-inner{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.cont-inner-h1{

    font-size: calc(1.5em + 1vmin);
    display: block;
    padding: 4px;
    margin:-4px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-left: 1em;
    cursor: pointer;
    font-family: 'FootlightL',sans-serif;
    letter-spacing: 1px;
}


.cont-navbar-ul{

    display: flex;
    align-items: center;
    margin:0;
    padding: 0;

}

.cont-navbar-li{

    list-style: none;
    font-size: 1.2em;
   color: white;
    
    padding: 1em;
    padding-bottom: 0;
    cursor: pointer;
    font-family: 'Futura-Book';
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.cont-navbar-li:hover{
    
    transform: scale(1.05);
    border-bottom: 3px solid white;
}

.cont-inner-h2{

    background-color: #7d9cd3;
    margin-right: 5%;
    font-size: 1.1em;
    cursor: pointer;
    padding: 8px 16px;
    vertical-align:top;
    border-radius: 20px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Futura-Bold';

}

.first{
    height: 800px;
    position: absolute;
    width: 100%;
    z-index: -1;
   
    background: linear-gradient(100deg, #f640fc , #4a8de6);
    transform: skewY(-12deg);
    transform-origin: 0 100%;
    
}


.firstover{

    width: 90%;
    margin-left: 10%;
    
    padding-top: 20vh;
    display: flex;
    
    
}

.firstover-cont{

    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.try-free{
    display: inline-block;
    font-family: 'Futura-Bold';
    font-size: 1.5em;
   background : rgba(0, 0, 0, 0.1);
    color:white;
    padding: 14px 50px;
    letter-spacing: 2px;
    border-radius: 25px;
    cursor: pointer;
    vertical-align: super;
}

.slogan{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.slogan-p{
    margin:0;
    font-family: 'FootlightL';
    text-transform: capitalize;
    font-size: calc(2em + 2vmin);
    letter-spacing: 2px;
    color: white;
    max-width: 650px;
}

.form-span{
    margin-top: 2rem;
    background: rgba(187, 187, 187, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 0.5em 1em;
    padding-right: 0.5em;
    vertical-align: middle;
    margin-bottom: 2rem;
    max-width: 600px;
    min-width: 400px;
   
}

.fa-at{
    color: white;
    font-size: 2em;
        vertical-align: sub;
    padding-right: 1em;
   
}
::placeholder{
    color: white;
    
}
.mail-inp{
    color: white;
    padding: 1em 0em;
    background: transparent;
    border: none;
    font-family: 'Futura-bold';
    font-size: calc(0.6em + 1vmin);
    letter-spacing: 1px;
    outline: none;
    max-width: 250px;
    padding-right: 1em;
}

.mail-btn{
    font-family: 'Futura-Bold';
    font-size: calc(0.5em + 1vmin);
    padding: 20px 12px;
    background: rgb(73, 73, 255);
    color:white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.mail-btn:hover{
    transform: scale(1.05);
    background: rgb(28, 134, 255);
}

.plans-p{
    margin-top: 2rem;
    font-family: 'Muli-Regular';
    color: rgb(107, 107, 107);
    line-height: 1.6em;
    font-size: calc(0.8em + 1vmin);
    letter-spacing: 2px;
    min-width: 200px;
    max-width: 600px;
}

.firstover-cont2{

    width: 55%;
    position: relative;
    right: 0;
    
}

.add-emp{
    margin-top: -2rem;
    width: 85%;
     background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    padding-left: 0;
    color: white;
    
    border: 2px solid white;
    border-radius: 20px;
  
    padding-right: 1em;

    float: right;
  padding-bottom: 5rem;

  border-right: none;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  animation: Slide_R 1s;
}

.add-emp-p{

        float: left;
        font-family: 'Lato',sans-serif;
        font-size: 1.2em;
        font-weight: 700;
        padding-left: 2em;

}

.jilian{
    margin-left: 0;
    margin-top: 5rem;
    height: 150px;
    width: 150px;
   text-align: center;
    padding-left: 1em;
    color: white;
}

.jil-img{
    height: 45%;
    border-radius: 50%;
}

.jil-name{
    font-family: 'Muli-SB';
    font-size: 1em;
    margin-bottom: 0;

}

.jil-job{
    margin-top: 0;
    font-size: 0.8em;
}

.job-detail{
    width: 65%;
    min-width: 450px;
    position: absolute;
    top: 4rem;
    overflow: hidden;
    right: 0%;
    background: white;
    border-radius: 17px;
   padding-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: Slide_R 1s ease-in;
}

.job-title{
    
    padding: 1rem 2rem;
    border-bottom: 1px solid #eee;
    font-family: 'Muli-SB';
    font-size: calc(0.7em + 1.2vmin);
    color: black;

}

.job-wrap{
    
    margin-right: 0.5em;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
   
}

.job-ul{
    list-style: none;
    font-family: 'Muli-SB';
    font-size: calc(0.5em + 1vmin);
    padding-left: 0.7em;
    
}

.job-lil{
   padding: 1rem;
   min-width: 200px;
   margin-bottom: 1.5rem;
}


.job-lir{
    border-radius: 2px;
    margin-left: 0rem;
     padding: 1rem;
     padding-left: 1.5rem;
     color: #4a8de6;
     background: #d1f0ff;
     margin-bottom: 1.5rem;
     min-width: 200px;
     
}

.job-lir>i{
 
   color: rgb(66, 201, 66);
    margin-left: 1rem;
    vertical-align: middle;
   font-size: calc(0.5rem + 1vmax);
}

.mini{
    padding: 1.5em 1em;
    display: flex;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    bottom: 10%;
    left: 100px;
    width: 310px;
    
    border-radius: 12px;
    padding-bottom: 0;
    justify-content: space-between;
}

.imgwrap{
    height: 90px;
    width: 90px;
}

.imgwrap>img{
    height: 100%;
    border-radius: 50%;
}

.john-name{
    font-family: 'Muli-Regular';
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

.john-job{
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    font-family: 'Muli-Regular';
}

.john-sal{
    padding:0;
    margin: 0;
    color: rgb(87, 87, 87);
    font-size: 0.7em;
}

.pay{
    margin:0;
    padding: 0;
    font-family: 'Muli-SB';
    font-size: 2rem;
  
}

.paid{
    margin: 0;
    margin-bottom: 1em;
    font-family: 'Muli-SB';
    font-size:1em;
    padding: 0.5em;
    background: rgb(179, 247, 179);
    text-align: center !important;
    border-radius: 10px;
}

.paid>i{
   color: rgb(56, 190, 56);
}


.first-bot{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    font-family: 'Muli-SB';
    font-size: calc(1.2rem + 1vmin);
    color: rgb(60, 115, 233);
    margin-top: 2rem;
    padding-bottom: 4rem;
}
.demo{
    margin-right: 1rem;
}
.demo>i{
    background: rgb(247, 243, 243);
   color: green;
   padding: 5px;
    border-radius: 50%;
    margin-right: 1rem;
   
}

.HR{
    width: 100%;
    background: #c7ddfa;
    height: 120vh;
    padding-bottom: 4rem;
    overflow: hidden;
}

.sec-inner{
    width: 90%;
    height: 100%;
    float:right;
    border-left: 3px dashed rgb(173, 202, 206);
    padding-top: 4rem;
    padding-left: 2rem;
    position: relative;
}

.hr-left-col>i{
    position: absolute;
    left: -2.5rem;
    top: 5rem;
    font-size: 4rem;
    
    color: rgb(69, 159, 201);
    border-radius: 50px;
}

.hr-wrap{
    display: flex;
    justify-content: space-between;
    
}
.hr-left-col{
    margin-left: 1rem;
    width: 51%;
}
.sec-head{
    font-family: 'FootlightL';
    font-size: 5rem;
    display: inline;
    margin-left: 1rem;
    color: #21a0c7;
}

.sec-slog{
    display: inline-block;
    margin-left: 1rem;
    font-family: 'Muli-SB';
    font-size: 2rem;
    color: #2ca7cc;
}

.offer{
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    border-radius: 10px;
    padding-bottom: 4rem;
}

.offer>h2{
    margin-top: 0.5em;
    margin-bottom: 1rem;
    font-family: 'Muli-Light';
    font-size: 1.75em;
}

.offer-hr-1{

    display: flex;
    justify-content: space-between;
}

.hr-1-inner{
    text-align: left;
    margin-right: 1em;
    width: 20%;
}
.hr-1{
    width:100%;
    border: 7px solid rgb(209, 209, 209);
    margin-left: 0;
    margin-bottom: 1em;
    border-radius: 10px;
}

.hr-2{
    width: 70%;
    margin-left: 0%;
    border: 7px solid rgb(209, 209, 209);
    border-radius: 10px;
    margin-bottom: 1em;
}

.review>h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Muli-Light';
    font-size: 1.5em;
    letter-spacing: 1px;
}

.review{
    margin-bottom: 3rem;
}

.letter-cont{
    width: 90%;
    margin:auto;
    border: 3px solid rgb(233, 233, 233);
   padding-left: 1.5em;
   
}

.letter-cont>h2{
    font-family: 'Muli-Light';
    font-size: 1.5em;
    letter-spacing: 1px;
  margin-bottom: 0;

}

.hr-wrap-2{
    width: 60%;
    padding:0;
    display: inline-block;
}

.hr-type-1{
    margin-bottom: 2.5rem;
    
}

.letter-R{
    position: relative;
    
    display: inline-block;
    margin-left: 10%;
    padding: 3rem 0;
    width: 25%;
   
}

.letter-R-part{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.letter-R-h6{
    font-family: 'Muli-SB';
    font-size: 0.9em;
    margin: 0;
    padding:0;
    color: rgb(179, 187, 187);
}

.letter-R-h62{

    margin:0;   
    padding:0;
    font-family: 'Muli-SB';
    font-size: 1em;
}

.send-btn{

    margin-top: 3rem;
    width: 90%;
    padding:15px 25px;
    background:rgb(62, 197, 231);
    color: white;
    border: none;
    font-size: 1em;
    font-family: 'Futura-Bold';
    cursor: pointer;
    transition: 0.3s ease-out;
}

.send-btn:hover{

    transform: scale(1.05);
}

.hr-right-col{

    width: 40% !important;
    padding-right: 5rem;
}

.hr-right-col>.job-detail{
    position: relative;
    width: 90%;
    padding-left: 0;
    margin: auto;
    padding-bottom: 0;
    z-index: 0;

}
.job-detail>.job-title{
    margin-bottom: 0;
    padding-bottom: 0 2em;
}

.job-detail>.job-wrap{
    margin-top: 0;
}

.job-wrap-right>ul>li{
    margin-bottom: 1em;
    padding-bottom: 0.5em 1em;
}

.job-wrap-left>ul>li{
    margin-bottom: 1em;
    padding-bottom: 0.5em 1em;
}

.emp-dir{
    width: 90%;
    margin:auto;
    margin-top: 7rem;
    
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    
}

.emp-title{
    margin-top: 1rem;
    padding: 0em 2em;
    font-family: 'Muli-SB';
    font-size: 1em;
    
}


.emp-title>p:first-child{
    text-align: left;
    display: inline-block;
    font-size: 1.5em;
    vertical-align: text-top;
}

.emp-title>p:nth-child(2){
    float: right;
    text-align: right;
    font-size: 1.2em;
    vertical-align: text-bottom;
    color: rgb(173, 173, 173);
}

.emp-wrap{

    display: flex;
    justify-content: space-between;
    padding: 2em;
    padding-top: 0;
}

.emp-1{
    padding: 1em;
    text-align: center;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
.emp-1:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.emp-img-wrap{
    height: 120px;
    margin: auto;
    width: 120px;
  
}

.emp-img-wrap>img{

    height: 100%;
    width: 100%;
    border-radius: 50%;
   
}

.emp-abt{

    padding: 1em;
    padding-top: 0;
   margin-top: 0;
    text-align: center;
}

.emp-abt>h3{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    font-family: 'Muli-SB';
    font-size: 1.5em;
}

.emp-abt>p:nth-child(2){
    margin: 0;
    padding: 0;
    color: darkgray;
    font-family: 'Muli-SB';
    font-size: 1em;
    margin-bottom: 1rem;
}

.emp-abt-p{
   margin:0em;
   padding:0em;
   color: darkgray;
   font-family: 'Muli';


}

.payroll{

width: 100%;
position: relative;
height: auto;

}

.thi-inner{
    width: 90%;
    height: 100%;
    float:right;
    border-left: 3px dashed rgb(173, 202, 206);
    
    padding-left: 2rem;
    position: relative;
}

.thi-slo{
   padding-left: 3em;
}

.thi-slo>h1{
    font-family: 'FootlightL';
    font-size: 5em;
    letter-spacing: 5px;
    display: inline-block;
    color: #2ca7cc;

}

.thi-slo>h3{
    display: inline-block;
    padding: 1em;
    font-family: 'Muli-SB';
    color: #2ca7cc;
    font-size: 2em;
    letter-spacing: 1px;
}

.thi-inner>i{

    position: absolute;
    left: -1em;
    top: 5rem;
    font-size: 2.5em;
    background: #3494b1;
   padding:15px;
   border-radius: 50%;
    color: white;
    
}

.thi-cont{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 90%;

    margin-bottom: 10em;
}

.thi-cont-inner{
    padding: 2em;
    font-family: 'Muli-SB';
    font-size: 1.5em;
}

.thi-cont-inner>i{
    font-size: 4em;
    margin-bottom: 0.5em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    
}

.thi-cont-inner>i:hover{

    transform: scale(1.05) rotate(-15deg);
}

.thi-cont-inner>p{
    margin:0;
    padding: 0;
    color: #2ca7cc;
}


.benefits{
    width: 100vw;
    height: 140vh;
    border:30px solid;
    border-image:linear-gradient(100deg,rgb(248, 48, 255),blue) 10;
    border-left: none;
    border-right: none;
    position: absolute;
    background: #0013bb;
    left: -10%;
    overflow: hidden;
   transform: skewY(-7deg);
   
}


.bene-inner{

    width: 90%;
    margin-left: 9%;
    border-left: 3px dotted rgb(47, 0, 255);
    height: 100%;
    transform: skewY(7deg);
    margin-top: 6rem;
}


.bene-inner>i{

    position: absolute;
    font-size: 4em;
     color: rgb(109, 229, 250);
     top: 1.4em;
     left: -0.4em;
}

.bene-wrap{

    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 100%;
}

.bene-col-l{

    width: 30% !important;
    padding:2em 3em;
    background: white;
    border-radius: 20px;
    max-height: 93vh;
    text-align: left;
    display: block;
    box-shadow: rgb(255, 234, 173) 0px 3px 8px;
    overflow: hidden;
}


.bene-col-l>h2{

    font-family: 'Futura-Bold';
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.bene-col-l>p{
    margin-top: 16px;
    line-height: 40px;
    font-family: 'Muli-SB';
    font-size: 1.8em;
    color: rgb(68, 68, 68);
    transition: 0.3s ease-in-out;
}

.hr-bene-l{

    margin: 2em 0;
    width: 90%;
    
}

.hr-bene-l1{

   border: 7px solid rgb(230, 230, 230);
    border-radius: 10px;
    
}

.hr-bene-l2{
    
    border: 7px solid rgb(230, 230, 230);
    width: 60%;
    margin-left: 0;
    
     border-radius: 10px;
 }
 
 
.bene-l-bot{
    margin-top: 3rem;
    width: 95%;
  
    border: 7px solid rgb(255, 166, 0);
    border-radius: 10px;
    padding-bottom: 0rem;
  
}

.bene-l-bot>h1{

   float: right;
   margin:2rem;
   font-size: 40px;
   color: rgb(255, 166, 0);
 
}
.bene-l-bot-inner{
    display: block;
    padding:3em;
}

.bene-l-bot-inner>p{

    font-family: 'Muli-SB';
    font-size: 2em;
    margin-bottom: 0rem;
}

.bene-l-bot-hr{
  
    border: 7px solid rgb(230, 230, 230);
    border-radius: 10px;
    width: 70%;
    margin-left: 0;

}

.bene-l-bot-inner>h1{
    margin-top: 0;
    font-family: 'Cardo',serif;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0;
}


.bene-col-l:hover{
    transform: scale(1.03);
}

.bene-col-r{
    width: 55%;
}

.bene-col-r-f{

    width: 65%;
    background: linear-gradient(90deg, #fff3cd, #ff9d77);
    height: 310px;
    padding: 2em 3em;
    border-radius: 20px;
    box-shadow: rgb(255, 234, 173) 0px 3px 8px;
    transition: 0.3s ease-in-out;
}

.bene-col-r-f:hover{
    transform: scale(1.05);
}

.bene-col-r-f-t{
    display: flex;
    justify-content: space-between;
}

.bene-col-r-f-t>p:first-child{

    font-family: 'Futura-Bold';
    font-size: 2em;
    margin:0;
    color: rgb(112, 112, 112);
}

.bene-col-r-f-t>p:nth-child(2){

    font-family: 'Muli-SB';
    font-size: 2em;
    margin: 0;
    color: white;
}


.card-no-wrap{

    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Cardo',serif;
    font-weight: 700;
    font-size: 3rem;
}

.card-no-wrap>p{

    margin: 0;
}

.card-date-wrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    margin: 0;
}

.card-sp>p{

    display: inline;
}

.card-date-wrap>p{

  margin: 0;
  font-size: 1.5rem;
  font-family: 'Cardo';
  color: rgb(128, 128, 128);
}

.card-sp{

    font-family: 'Muli-Regular';
    font-size: 1.1rem;
    color: rgb(134, 134, 134);
}



.card-sp-2{
    margin-left: 1rem;
    font-family: 'Muli-B';
    letter-spacing: 2px;
    font-size: 1.8rem !important;
}

.card-sp-1{

    font-size:0.8rem;
    font-family: 'Muli-Light';
    margin:0;
    line-height:0;
    padding:0;
}

.card-name-wrap{

    display: flex;
    justify-content: space-between;
}

.card-name-wrap>h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.circ-cont{

    margin: auto;
    margin-right: 0;
}

.circ1, .circ2{
    width:55px;
    height: 55px;
    background-color: rgb(255, 136, 0);
    border-radius: 50%;
    display: inline-block;
}

.circ2{
    margin-left: -25px;
    background: rgba(255, 217, 0, 0.6);
    
}

.bene-col-r-s{
    margin-top: 3rem;
    width: 100%;
    height: 700px;
    background: white;
    border-radius: 20px;
    box-shadow: rgb(255, 234, 173) 0px 3px 8px;
    padding-left: 3rem;
    padding-top: 2rem;
    overflow: hidden;
}



.bene-col-r-s-t>p{

    font-family: 'Futura-Bold';
    font-size: 1.8rem;
    margin: 0;
}

.bene-col-r-s-t>p:nth-child(2){
    font-family: 'Muli-SB';
}


.medical-wrap{
    width: 105%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
   
}

.medi-item{

    width:225px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
}

.medi-item-cont{

    margin-top: 50%;
   
}

.medi-item-sp{

    width: 100%;
    margin: 0;
    display: inline-block;
}

.medi-item-sp>h3{

    margin: 0;
    font-family: 'Muli-Regular';
    font-size: 20px;
}

.medi-hr-cont>hr{

    width:95%;
    border: 7px solid rgb(235, 235, 235);
    border-radius: 10px;
    margin-left: 0;
}


.medi-foot{

    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Muli-Regular';
    font-size: 12px;
    color: rgb(179, 179, 179);
}

.pln-det, .pln-chng{
    background: rgb(230, 230, 230);
    padding: 12px 8px;
    margin:5px;
    border-radius: 10px;
}



.thi-bot{
    
   margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 5em;
    margin-top: 8rem;
}

.thi-bot-l{
 
    width: 40%;
}

.thi-bot-l>p{
    font-family: 'Cardo',serif;
    line-height: 80px;
    font-size: 4em;
}

.thi-bot-r{

    width: 45%;
    padding-right: 10%;
    
}

.thi-bot-r>p{

    font-family: 'Futura-Bold';
    font-size: 1.7em;
    color: darkgray;
    margin-top: 4rem;
    line-height: 45px;
}

.why{
    background: #deedff;
    padding-top: 4em;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.why-title{
    margin-top: 2rem;
    width: 30%;
    float: left;
    line-height: 0px;
    border-bottom: 40px solid rgb(194, 117, 245);
    margin-bottom: 30px;
}

.why-title>h1{
    margin:0 ;
    padding:0 ;
    font-size: 4em;
    font-family: 'Cardo', serif;
    letter-spacing: 5px;
    float: right;
}

.why-wrap{

    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
   padding-top: 1rem;
}

.why-wrap-col{

    max-width: 16%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2em 1.5em;
    background: white;
    

}

.why-wrap-col:hover{
    transform:scale(1.05);
}

.why-wrap-col:nth-child(even){
  
    margin-top: 4em;
   
}

.wrap-col-p1{
    margin-top: 0.5em;
    font-family: 'Futura-Bold';
    color: rgb(85, 85, 85);
    line-height: 50px;
    font-size: 2.1em;
    margin-bottom: 0.5em;
}

.wrap-col-p2{

    font-family: 'Carisma-M';
   
    color: rgb(134, 134, 134);
    font-size: 1.8em;
    line-height: 40px;
}



.footer{

    width: 100%;
    margin:auto;
    max-width: 85rem;
}

.footer-1{
    padding-top: 2em;
    width:35%;
    margin: auto;
    padding-bottom: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.footer-1>p{
    font-family: 'Cardo',serif;
    font-size: 3.5em;
    color: #0016d8;
    line-height: 1.5em;
  
}

.footer-1>button{
    width: 100%;
    padding: 1.5em 3em;
    background: linear-gradient( to right, rgb(255, 83, 246), rgb(149, 4, 233));
    font-size: 2em;
    font-family: 'Futura-Bold';
    color: white;
    border-radius: 120px;
    border:none;
    cursor: pointer;
    letter-spacing: 2px;
}



.footer-2{
    margin-top: 2rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-col>p{
    
    font-family: 'Futura-Bold';
    font-size: 1.5em;
    color: rgb(56, 56, 56);
}
 
.footer-col{
    text-align: left;
}
.footer-ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 100px;
}

.footer-li{
    margin-left: 0;
    font-family: 'Muli-Regular';
    font-size: 1.7em;
    line-height: 2em;
    color: rgb(75, 75, 75);
   
}

.footer-li:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.footer-col>p:not(:first-child){

    margin: 3em 0;
}